@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Onest:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

@theme {
    --breakpoint-3xl: 107.5rem;
    --breakpoint-mobile: 470px;

    --text-45to20: calc(20px + (45 - 20) * ((100vw - 320px)/(1920 - 320)));
    --text-45to15: calc(15px + (45 - 15) * ((100vw - 320px)/(1920 - 320)));
    --text-25to12: calc(12px + (25 - 12) * ((100vw - 320px)/(1920 - 320)));
    --text-20to10: calc(10px + (20 - 10) * ((100vw - 320px)/(1920 - 320)));
    --text-20to12: calc(12px + (20 - 12) * ((100vw - 320px)/(1920 - 320)));
    --text-15to12: calc(12px + (15 - 12) * ((100vw - 320px)/(1920 - 320)));

    --width-583to290: calc(290px + (583 - 290) * ((100vw - 320px)/(1920 - 320)));


    --color-primary: #E492A1;
    --color-secondary: #EACFD4;
    --color-background: #2A2A2A;
    --color-dark-gray: #6B6A70;
    --color-lite-white: #EEEEF0;

    --default-btn-size: clamp(110px, 48rem, 15.95vw) ;
    --mini-btn-size: clamp(82px, 48rem, 10.94vw);
}

@layer base {
    *{
        scroll-behavior: smooth;
    }
    html {
        margin-top: 0 !important;
    }

    body {
        @apply bg-background;
        font-family: 'Onest', sans-serif;
    }

    h1 {
        font-family: 'Cormorant', sans-serif;
    }

    h2 {
        font-family: 'Cormorant', sans-serif;
        font-size: calc(67px + (205 - 67) * ((100vw - 320px)/(1920 - 320)));
        @apply uppercase text-white leading-[85%] tracking-[-0.08em]
    }

    h3 {
        @apply lowercase text-white 3xl:text-[45px]/[111%] 2xl:text-[40px]/[111%] mobile:text-[30px]/[111%] text-[17px]/[111%] tracking-[-2%] font-medium
    }
}

@layer utilities {
    .container {
        padding: 0 40px;
        margin: 0 auto;
        max-width: 100%;
    }

    .title-no-wrap{
        font-family: 'Cormorant', sans-serif;
        @apply text-white uppercase tracking-[-0.08em] leading-none;
    }

    .head-text > span {
        width: 100%;
        text-align: center;
    }

    .menu-link {
        @apply text-secondary font-medium xl:text-[20px] text-[16px] relative;

        &:after {
            content: '·';
            position: absolute;
            right: -19px;
        }

        &:last-child {
            &:after {
                content: '';
            }
        }
    }

    .footer-menu-link a {
        display: block;
        width: 100%;
        font-size: 20px;
        line-height: normal;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
    }

    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-radius: 50%;
        position: relative;
        background: #fff;
        width: var(--default-btn-size);
        height: var(--default-btn-size);
        font-size: 25px;
        line-height: normal;
        font-weight: 600;
        text-align: center;

        &:before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 0.89px solid #fff;
            border-radius: 50%;
            content: '';
            display: block;
            width: calc(var(--default-btn-size) + 6.96px + 6.96px);
            height: calc(var(--default-btn-size) + 6.96px + 6.96px);
            position: absolute;
            background: transparent;
        }

        .arrow {
            width: 26px;
            height: 26px;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
            border-top-right-radius: 3px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: rotate(45deg);

            &:before {
                content: '';
                display: block;
                width: 22px;
                height: 2px;
                background: #000;
                transform: rotate(-45deg) translate(-6px);
            }

            &.top {
                transform: rotate(-45deg);
            }
        }

        &.primary {
            background: #fff;

            &:before {
                border-color: #fff;
            }
        }

        &.secondary {
            background: var(--color-secondary);

            &:before {
                border-color: var(--color-secondary);
            }
        }

        &.transparent {
            background: transparent;
            border: 1px solid #fff;

            &:before {
                border-color: #fff;
            }

            .arrow {
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;
                transform: rotate(-45deg);
                &:before {
                    background: #fff;
                }
            }
        }

        &.mini {
            padding: 25px;
            background: transparent;
            font-size: 20px;
            color: #fff;
            width: var(--mini-btn-size);
            height: var(--mini-btn-size);

            &:before {
                border-color: #fff;
                width: var(--mini-btn-size);
                height: var(--mini-btn-size);
            }

            .arrow {
                width: 18px;
                height: 18px;
                border-top: 1px solid #fff;
                border-right: 1px solid #fff;

                &:before {
                    width: 15px;
                    background: #fff;
                    height: 1px;
                }
            }
        }

        &.mini-gray {
            padding: 25px;
            background: transparent;
            font-size: 20px;
            color: var(--color-dark-gray);
            width: var(--mini-btn-size);
            height: var(--mini-btn-size);

            &:before {
                border-color: var(--color-dark-gray);
                width: var(--mini-btn-size);
                height: var(--mini-btn-size);
            }

            .arrow {
                width: 18px;
                height: 18px;
                border-top: 1px solid var(--color-dark-gray);
                border-right: 1px solid var(--color-dark-gray);

                &:before {
                    width: 15px;
                    background: var(--color-dark-gray);
                    height: 1px;
                }
            }
        }
    }
}

.how-work-list ul{
    @apply list-disc md:space-y-[15px] space-y-[7.5px] md:pl-[31px] pl-[15px];
}

.menu-burger-btn{
    display: none;
}

.cormorant {
    font-family: 'Cormorant', sans-serif;
}

.onest {
    font-family: 'Onest', sans-serif;
}

.small-text {
    @apply lowercase text-dark-gray md:text-[15px]/[125%] text-[12px]/[125%] tracking-[0%]
}

.service-btn {
    @apply w-max lowercase mobile:text-[15px] text-[12px] flex gap-2.5 bg-primary hover:bg-primary/80 transition duration-200 mobile:px-5 px-[11px] mobile:py-1.5 py-[3px] rounded-full items-center
}

.services-area {
    @apply flex 2xl:gap-10 gap-5 flex-col overflow-y-auto xl:h-full h-[500px] xl:absolute w-full md:pr-5 xl:py-[60px] pb-[60px]
}

.services-area {
    -webkit-overflow-scrolling: touch; /* гладкий скролл на iOS */
    scrollbar-width: none;
}

.services-area::-webkit-scrollbar {
    display: none; /* убираем скролл в WebKit (Chrome, Safari) */
}

.service-type-btn {
    @apply lowercase rounded-full bg-white 3xl:w-[250px] 3xl:h-[250px] 2xl:w-[210px] 2xl:h-[210px] md:w-[180px] md:h-[180px] mobile:w-[120px] mobile:h-[120px] w-[87.41px] h-[87.41px] 2xl:border-[10px] mobile:border-[7px] border-[3.78px] border-secondary text-center 3xl:text-[25px] md:text-[20px] mobile:text-[15px] text-[12px] font-semibold hover:bg-white/60 transition duration-200 cursor-pointer;
}

.service-type-btn {
    outline: 1px solid white !important;
}

.service-type-active-btn {
    @apply bg-primary hover:bg-primary/60 text-white;
}

.service-type-active-btn {
    outline: 1px solid var(--color-primary) !important;
}

.gallery-slide {
    height: 780px !important;
    display: grid !important;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 33px;
    grid-row-gap: 33px;
}

.slide-image-1 {
    grid-area: 1 / 1 / 2 / 3;
}

.slide-image-2 {
    grid-area: 2 / 1 / 4 / 3;
}

.slide-image-3 {
    grid-area: 1 / 3 / 4 / 5;
}

.slide-image-4 {
    grid-area: 1 / 5 / 3 / 7;
}

.slide-image-5 {
    grid-area: 3 / 5 / 4 / 6;
}

.slide-buttons {
    grid-area: 3 / 6 / 4 / 7;
    @apply flex md:flex-col flex-row items-center justify-center border border-white lowercase text-white text-center md:gap-9 gap-2 p-4
}

.slide-image {
    @apply w-full h-full md:rounded-4xl rounded-2xl bg-center bg-cover
}

.end-slide-text {
    order: 1;
}

.slide-buttons-container {
    order: 2;
    @apply flex gap-5 items-center
}

.header-menu-social{
    display: none;
}

.menu-item.menu-item-type-post_type.current_page_item{
    color: #fff;
}

@media (max-width: 1280px) {
    .gallery-slide {
        height: 780px !important;
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 33px;
        grid-row-gap: 33px;
    }

    .slide-image-1 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .slide-image-2 {
        grid-area: 2 / 1 / 4 / 3;
    }

    .slide-image-3 {
        grid-area: 1 / 3 / 3 / 5;
    }

    .slide-image-4 {
        grid-area: 3 / 3 / 4 / 4;
    }

    .slide-buttons {
        grid-area: 3 / 4 / 4 / 5;
    }

    .btn {
        font-size: 20px;

        .arrow {
            width: 22px;
            height: 22px;

            &:before {
                width: 18px;
                height: 1px;
            }
        }

        &.mini {
            padding: 16px;
            font-size: 16px;

            .arrow {
                width: 14px;
                height: 14px;

                &:before {
                    width: 14px;
                    height: 1px;
                }
            }
        }

        &.mini-gray{
            padding: 16px;
            font-size: 16px;

            .arrow {
                width: 14px;
                height: 14px;

                &:before {
                    width: 14px;
                    height: 1px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    .btn {
        font-size: 18px;

        .arrow {
            width: 16px;
            height: 16px;
            border-top-width: 1px;
            border-right-width: 1px;

            &:before {
                width: 18px;
                height: 1px;
            }
        }

        &.mini {
            font-size: 14px;
            padding: 16px;

            .arrow {
                width: 14px;
                height: 14px;

                &:before {
                    width: 14px;
                    height: 1px;
                }

                &.lg-white{
                    &:before{
                        background: #000;
                    }
                }
            }
        }

        &.mini-gray{
            padding: 16px;
            font-size: 14px;

            .arrow {
                width: 14px;
                height: 14px;

                &:before {
                    width: 14px;
                    height: 1px;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    .gallery-slide {
        height: 780px !important;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    .slide-image-1 {
        grid-area: 1 / 1 / 3 / 3;
    }

    .slide-image-2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .slide-image-3 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .slide-buttons {
        grid-area: 4 / 1 / 5 / 3;
    }

    .end-slide-text {
        order: 2;
        font-size: 12px;
    }

    .slide-buttons-container {
        order: 1;
    }
}

@media (max-width: 768px) {
    .container{
        padding: 0 15px;
    }

    .btn {
        font-size: 12px;

        &:before {
            width: calc(var(--default-btn-size) + 2.5px + 2.5px);
            height: calc(var(--default-btn-size) + 2.5px + 2.5px);
        }

        .arrow {
            width: 7.5px;
            height: 7.5px;
            padding: 0;

            &:before {
                width: 5px;
                height: 1px;
                transform: rotate(-45deg) translate(-2px);
            }
        }

        &.mini {
            font-size: 12px;
            padding: 0 10px;

            &:before {
                border-color: #fff;
                width: var(--mini-btn-size);
                height: var(--mini-btn-size);
            }

            .arrow {
                width: 6.5px;
                height: 6.5px;

                &:before {
                    width: 5px;
                    height: 1px;
                }
            }
        }

        &.mini-gray{
            font-size: 12px;
            padding: 0 10px;

            &:before {
                border-color: var(--color-dark-gray);
                width: var(--mini-btn-size);
                height: var(--mini-btn-size);
            }

            .arrow {
                width: 6.5px;
                height: 6.5px;

                &:before {
                    width: 5px;
                    height: 1px;
                }
            }
        }
    }

    #wpadminbar{
        display: none;
    }
    .menu-burger-btn{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--color-secondary);
        width: 34px;
        height: 34px;
        border-radius: 50%;
        transition: all 0.2s ease 0s;

        span{
            width: 19px;
            height: 2px;
            background: #2A2A2A;
            transition: all 0.2s ease 0s;

            &:after, &:before{
                content: '';
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 19px;
                height: 2px;
                background: #2A2A2A;
                transition: all 0.2s ease 0s;
            }

            &:after{
                top: 12px;
            }

            &:before{
                bottom: 10px;
            }
        }

        &.open{
            span {
                width: 0;

                &:before{
                    bottom: 46%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:after{
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }

    .menu-header{
        position: absolute;
        top: 0;
        right: 0;
        width: 34px;
        height: 34px;
        padding: 14px;
        border-radius: 50%;
        background: var(--color-secondary);
        transition: all 0.2s ease 0s;

        .menu-title{
            opacity: 0;
            pointer-events: none;
            flex-direction: column;
            display: none;
        }

        .menu-list{
            opacity: 0;
            pointer-events: none;
            flex-direction: column;
            display: none;
            transition: all 0.2s ease 0s;
        }

        .header-menu-social {
            opacity: 0;
            pointer-events: none;
            display: none;
            transition: all 0.2s ease 0s;
            margin-top: 20px;
        }

        &.open {
            width: 100%;
            height: auto;
            right: 0;
            border-radius: 15px;

            .menu-title{
                opacity: 1;
                pointer-events: all;
                transition: all 0s ease 0s;
                display: block;
            }

            .header-menu-social{
                opacity: 1;
                pointer-events: all;
                transition: all 0s ease 0s;
                display: block;
            }

            .menu-list{
                opacity: 1;
                pointer-events: all;
                transition: all 0s ease 0s;
                display: flex;

                .menu-link{
                    color: #2A2A2A;
                    font-size: 20px;

                    &:after{
                        display: none;
                    }
                }
            }
        }
    }

    .menu-langs{
        transition: width 0.2s ease 0s;

        .menu-link{
            font-size: 12px!important;
        }
    }

    .menu-langs a {
        transition: opacity 0.3s ease, transform 0.3s ease;
        display: none; /* а не none, иначе анимации не будет */
        overflow: hidden;
        color: #fff;
    }

    .menu-langs.open a {
        display: block; /* а не none, иначе анимации не будет */
        height: auto;
    }

    .footer-menu-link a {
        display: block;
        width: 100%;
        font-size: 12px;
        line-height: normal;
        border-bottom: 1px solid #fff;
        padding-bottom: 2.5px;
    }
}

@media (max-width: 550px) {
    .gallery-slide {
        height: 489px !important;
    }
}

.custom-swiper-pagination {
    width: max-content !important;

    .swiper-pagination-bullet {
        @apply !bg-[#6B6A70] !opacity-100 rounded-sm;
        transition: width 0.2s;

        &.swiper-pagination-bullet-active {
            @apply !bg-white w-[25px] rounded-sm;
        }
    }
}

.footer-logo img {
    @apply md:max-w-[277px] max-w-[138px] w-full;
}

.header-logo img {
    @apply max-w-[122px] w-full;
}
