@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Onest:wght@100..900&display=swap');

@theme {
    --color-primary: #E492A1;
    --color-secondary: #EACFD4;
    --color-background: #2A2A2A;
    --color-text-secondary: #6B6A70;
    --color-dark-gray: #404040;
    --container-padding: 0 40px;

    --default-btn-size: 306.3px;
    --mini-btn-size: 210px;
}

@layer base {
    body{
        @apply bg-background;
        font-family: 'Onest', sans-serif;
    }

    h1 {
        @apply text-[25px] lowercase text-secondary;
    }

    h2{
        font-family: 'Cormorant', sans-serif;
        line-height: 100%;
        letter-spacing: -25px;
        @apply text-[262.55px] uppercase
    }
}

@layer utilities {
    .container {
        padding: var(--container-padding);
        margin: 0 auto;
        max-width: 100%;
    }

    .menu-link{
        @apply text-secondary font-medium text-[20px] relative;

        &:after{
            content: '·';
            position: absolute;
            right: -19px;
        }

        &:last-child{
            &:after{
                content: '';
            }
        }
    }

    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
        background: #fff;
        width: var(--default-btn-size);
        height: var(--default-btn-size);
        font-size: 25px;
        font-weight: 600;

        &:before{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 0.89px solid #fff;
            border-radius: 50%;
            content: '';
            display: block;
            width: calc(var(--default-btn-size) + 6.96px + 6.96px);
            height: calc(var(--default-btn-size) + 6.96px + 6.96px);
            position: absolute;
            background: transparent;
        }

        &.primary{
            background: #fff;

            &:before{
                border-color: #fff;
            }
        }

        &.secondary{
            background: var(--color-secondary);

            &:before{
                border-color: var(--color-secondary);
            }
        }

        &.mini{
            background: transparent;
            font-size: 20px;
            color: #fff;
            width: var(--mini-btn-size);
            height: var(--mini-btn-size);

            &:before{
                border-color: #fff;
                width: var(--mini-btn-size);
                height: var(--mini-btn-size);
            }
        }

        &.mini-gray{
            background: transparent;
            font-size: 20px;
            color: var(--color-text-secondary);
            width: var(--mini-btn-size);
            height: var(--mini-btn-size);

            &:before{
                border-color: var(--color-dark-gray);
                width: var(--mini-btn-size);
                height: var(--mini-btn-size);
            }
        }
    }
}

/* твои кастомные слои */
/*@layer components {*/
/*    .btn {*/
/*        @apply inline-flex items-center rounded-xl px-4 py-2 text-sm font-medium shadow;*/
/*    }*/
/*    .btn-primary {*/
/*        @apply btn bg-blue-600 text-white hover:bg-blue-700;*/
/*    }*/
/*}*/
